.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

.grid {
  height: 230px;
  width: 230px;
  background-color: grey;
  border-radius: 9px;
  text-align: center;
  margin: 4px;
  font-size: 80px;
  padding-top: 3px;
}

.grid:hover {
  animation: scalePop 0.2s ease-in forwards;
}

.timerProgress {
  height: 30px;
  width: 280px;
}

.mainFrame {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50vw;
}

/* Mobile */
@media (max-width: 700px) {

}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes scalePop {
  0% {
    scale: 1;
    transform: rotate(0.313deg);
  }
  50% {
    transform: rotate(-0.313deg);
  }
  100% {
    color: rgb(252, 252, 252);
    scale: 1.02;
    transform: rotate(0deg);
  }
}

